
// Body
$body-bg: #000;

// Typography
$font-family-sans-serif: Arial, sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$game-element-background-color: #002dd6;
$game-element-background-color-hover: #0036ff;
$game-element-font-color: #fff;
$game-element-category-font-size: 22px;
$game-element-price-font-size: 48px;
