
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

#categoriesList {
  .category-block {
    .category-block-element {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      border: 4px solid $body-bg;
      background-color: $game-element-background-color;
      height: 16.66666666666667vh;
      color: $game-element-font-color;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        background-color: $game-element-background-color-hover;
      }

      .category {
        font-size: $game-element-category-font-size;
        text-transform: uppercase;
        text-shadow: 2px 2px 5px #000;
      }

      .price {
        font-size: $game-element-price-font-size;
        color: #ffed90;
        text-shadow: 2px 2px 5px #000;
      }

      .question-block-element {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        background-color: $game-element-background-color;
        justify-content: center;
        align-items: center;
        padding: 20%;
        color: #e8cb34;
        text-transform: uppercase;
        text-shadow: 2px 2px 5px #000;

        span {
          text-align: center;
          font-size: $game-element-price-font-size;

        }
      }

    }
  }
}
